<!-- <div>
  <div>
    <h1>Hello... Welcome to my projects</h1>
    <p>{{ 'hello_world' | translate }}</p>

  </div>
</div>

<h1>{{ 'greeting' | translate }}</h1>
<p>{{ 'welcome' | translate }}</p> -->

<!-- <div>{{ 'HELLO' | translate:param }}</div> -->

<main>
  <h1>ngx-translate (i18n) library for Angular</h1>
  <div class="button-container">
    <button
      type="button"
      [ngClass]="{ active: selectedLanguage === languageEnum.English }"
      (click)="changeLanguage(languageEnum.English)"
    >
      English
    </button>
    <button
      type="button"
      [ngClass]="{ active: selectedLanguage === languageEnum.French }"
      (click)="changeLanguage(languageEnum.French)"
    >
      French
    </button>
    <button
      type="button"
      [ngClass]="{ active: selectedLanguage === languageEnum.German }"
      (click)="changeLanguage(languageEnum.German)"
    >
      German
    </button>
    <button
      type="button"
      [ngClass]="{ active: selectedLanguage === languageEnum.Norwegian }"
      (click)="changeLanguage(languageEnum.Norwegian)"
    >
      Norwegian
    </button>
  </div>
  <h2 class="margin-top">{{ "title" | translate }}</h2>
  <div class="color-container">
    <div class="element red">
      {{ "colors.red" | translate }}
    </div>
    <div class="element green">
      {{ "colors.green" | translate }}
    </div>
    <div class="element blue">
      {{ "colors.blue" | translate }}
    </div>
    <div class="element yellow">
      {{ "colors.yellow" | translate }}
    </div>
    <div class="element orange">
      {{ "colors.orange" | translate }}
    </div>
    <div class="element purple">
      {{ "colors.purple" | translate }}
    </div>
    <div class="element pink">
      {{ "colors.pink" | translate }}
    </div>
  </div>
</main>